@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
  transform: translateX(18px);
}

input:focus ~ .dot {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

input:checked ~ .block {
  background-color: #14d521;
}

.dot {
  transition: transform 0.2s ease-in-out;
}

.block {
  transition: background-color 0.2s ease-in-out;
}
